<!DOCTYPE html>
<html ng-app>
<head lang="en">
  <meta charset="utf-8">
  <title>margot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <script src="lib/jquery.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <link href="lib/bootstrap.min.css" rel="stylesheet">
  <script src="lib/bootstrap.min.js"></script>

  <script src="servers.jsonp"></script>
  <script src="status.js"></script>
</head>
</html>
<body>
<div ng-controller="Servers">
  <h3 ng-repeat="(name, server) in servers">
    <span ng-repeat="step in server"
          class="label label-default"
          style="margin-left: 10px;">
      {{ step.name }}
    </span>
  </h3>
</div>
</body>