<!DOCTYPE html>
<html ng-app="status">
<head lang="en">
  <meta charset="utf-8">
  <title>margot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <script src="lib/jquery.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="lib/bootstrap.min.js"></script>

  <link href="lib/bootstrap.min.css" rel="stylesheet">
  <link href="lib/bootstrap-glyphicons.css" rel="stylesheet">
  <link href="lib/font-awesome.min.css" rel="stylesheet">
  <link href="status.css" rel="stylesheet">

  <script src="servers.jsonp"></script>
  <script src="status.js"></script>
</head>
</html>
<body>
<div ng-controller="Servers">
  <div ng-repeat="(name, server) in servers" class="panel-body">
    <div class="label label-primary">
      {{ name }}
    </div>
    <div ng-repeat="step in server" class="label label-{{ step.status | status_style }}">
      {{ step.name }}
    </div>
  </div>
</div>
</body>